---
layout: about
title: About
description: >
  About Matt Taylor.
hide_description: true
no_link_title: false 
no_excerpt: false 
hide_image: false
cover: true
---

<!--author-->

<h2 id="news">News</h2>

<ul>
  <li><b>December 2023</b>: Offered a TA position for CSE 8A - Intro to Programming. </li>
  <li><b>March 2023</b>: Accepted into the MS CSE program at UCSD! </li>
</ul>

<h2 id="work-experience">Work Experience</h2>

{% assign work = site.work_experience | sort: "year" | reverse %}
{% for job in work %}
<div class="pubitem">
    <div class="worklogo">
        <a href="{{job.company_website}}">
            <img
            src="/assets/img/work/{{ job.slug }}.png"
            alt="{{job.slug}} logo"
            />
        </a>
    </div>
  <div class="pubtitle">{{ job.title }}</div>
  <div class="pubauthors">{{ job.job_date }}</div>
  <div class="pubinfo">Mentor: <a href="{{job.mentor_webpage}}" target="_blank" style="text-decoration: underline;">{{ job.mentor }}</a></div>
</div>
{% endfor %}

<h2 id="education">Education</h2>

{% assign schools = site.education | sort: "year" | reverse %}
{% for school in schools %}
<div class="pubitem">
    <div class="worklogo">
        <a href="{{school.department_website}}">
            <img
            src="/assets/img/education/{{ school.slug }}.png"
            alt="{{school.slug}} logo"
            />
        </a>
    </div>
  <div class="pubtitle">{{ school.title }}</div>
  <div class="pubauthors">{{ school.degree }}</div>
  <div class="pubinfo">{{ school.school_date }}</div>
</div>
{% endfor %}
