---
layout: about
title: Research
---

<h2 id="publications">Selected Publications</h2>

See my <a href="https://scholar.google.com/citations?user=9e2G0_0AAAAJ&hl=en">Google Scholar</a> page for a more up to date list of publications.

{% assign publications = site.data.publications | sort: "year" | reverse %}
{% for pub in publications %}
<div class="publication-item">
    <div class="publication-teaser">
        <a href="{{pub.links.paper}}">
            <img
            src="{{pub.image}}"
            alt="{{pub.title}} publication teaser"
            />
        </a>
    </div>
    <div class="publication-content">
        <div class="publication-title">{{ pub.title }}</div>
        <div class="publication-authors">{{ pub.authors }}</div>
        <div class="publication-venue">{{ pub.venue }}, {{ pub.year }}</div>
        {% if pub.description %}
        <div class="publication-description">{{ pub.description }}</div>
        {% endif %}
        <div class="publication-links">
            {% if pub.links.paper %}
            <a href="{{pub.links.paper}}"><i class="fas fa-file-pdf"></i> Paper</a>
            {% endif %}
            {% if pub.links.code %}
            <a href="{{pub.links.code}}"><i class="fab fa-github"></i> Code</a>
            {% endif %}
            {% if pub.links.arxiv %}
            <a href="{{pub.links.arxiv}}"><i class="fas fa-external-link-alt"></i> arXiv</a>
            {% endif %}
            {% if pub.links.bibtex %}
            <a href="{{pub.links.bibtex}}"><i class="fas fa-quote-left"></i> BibTeX</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<h2 id="projects">Other Projects</h2>

<!-- Approximate Lyapunov Control Project -->
<div class="pubitem">
    <div class="pubteaser">
        <a href="https://github.com/mht3/approximate_neural_lyapunov_control">
            <img
            src="/assets/img/projects/inverted_pendulum.gif"
            alt="Final Report Teaser"
            />
        </a>
    </div>
  <div class="pubtitle">Approximate Neural Lyapunov Control</div>
  <div class="pubauthors">ECE 228 Final Project, 2024</div>
  <div class="pubinfo">Skills: PyTorch, Python </div>
  <div class="publinks">
        <a href="/assets/pdf/approximate_lyapunov_control.pdf"><i class="far fa-file-pdf"></i> Paper</a
        >&nbsp;&nbsp;
        <a href="https://github.com/mht3/approximate_neural_lyapunov_control"><i class="fas fa-link"></i> Code</a>
  
    </div>
  </div>
  

{% assign projects = site.projects | sort: "year" | reverse %}
{% for project in projects %}
<div class="pubitem">
    <div class="pubteaser">
        <a href="{{project.github}}">
            <img
            src="/assets/img/projects/{{ project.slug }}.gif"
            alt="{{project.slug}} Teaser"
            />
        </a>
    </div>
  <div class="pubtitle">{{ project.title }}</div>
  <div class="pubauthors">Advised by <a href="{{project.advisor_webpage}}" target="_blank" style="text-decoration: underline;">{{ project.advisor }}</a>, {{ project.year_accomplished}}</div>
  <div class="pubinfo">Skills: {{ project.skills }} </div>
  <div class="publinks">
        <a href="/assets/pdf/{{project.slides}}.pdf"><i class="far fa-file-pdf"></i> Presentation</a
        >&nbsp;&nbsp;
        <a href="{{project.github}}"><i class="fas fa-link"></i> Project Page</a>
    </div>
</div>
{% endfor %}

<!-- NFL KAGGLE PROJECT -->
<div class="pubitem">
  <div class="pubteaser">
      <a href="https://github.com/mht3/BigDataBowl2022">
          <img
          src="/assets/img/projects/nfl_kaggle.gif"
          alt="NFL Kaggle Teaser"
          />
      </a>
  </div>
<div class="pubtitle">NFL Big Data Bowl 2022</div>
<div class="pubauthors">Evaluating Kicker Performance Using KER</div>
<div class="pubinfo">Skills: TensorFlow, Python </div>
<div class="publinks">
      <a href="https://www.kaggle.com/code/mattt31/evaluating-kicker-performance-using-ker/notebook"><i class="fas fa-link"></i> Paper</a>
      &nbsp;&nbsp;
      <a href="https://github.com/mht3/BigDataBowl2022"><i class="fas fa-link"></i> Code</a>

  </div>
</div>

<h2 id="for_fun">For Fun</h2>

<ul>
  <li>Play <a href="/chess/">my AI</a> in chess!</li>
</ul>
